/* Buttons component */

.btn-ghost {
    background: none;
    border: none;
    outline: none;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: var(--space-xs);
    font-size: var(--font-size-xl);
    margin: var(--space-m) 0;
}
