/* Buttons component */

.btn-ghost {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    padding: 0;
}

.btn-primary,
.btn-secondary {
    display: inline-block;
    width: auto;
    padding: var(--space-xxs) var(--space-xl);
    font-size: inherit;
    text-transform: uppercase;
}

.btn-page {
    padding: var(--space-xs) var(--space-m);
}

.btn-outline {
    background: transparent;
    color: var(--color-white);
    outline-color: var(--color-dark-grey);
}

.btn-danger {
    background: transparent;
    color: var(--color-error);
    outline-color: var(--color-error);
}

.btn-sm {
    padding: var(--space-xs) var(--space-m);
    font-size: var(--font-size-xs);
}
