.side-menu {
    background-color: var(--color-black);
    grid-area: side-menu;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.side-menu .logo {
    padding: var(--space-m);
    border-bottom: var(--border-xs) solid var(--color-gold);
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding-top: var(--space-m);
    flex: 1;
}

.side-nav a {
    position: relative;
    font-size: var(--font-size-s);
    padding: var(--space-m) var(--space-l);
    border-left: var(--border-xs) solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    height: var(--border-thin);
    background-color: rgba(var(--color-grey-rgb), 0.3);
}

.side-nav a:hover {
    color: var(--color-almost-white);
}

.side-nav a.active {
    color: var(--color-gold);
    border-left-color: var(--color-light-gold);
    background-color: rgba(var(--color-brown-rgb), 0.3);
    
}

.side-nav a.active::after {
    content: '›';
    font-size: var(--font-size-xl);
    line-height: 1;
    display: flex;
    align-items: center;
}


#side-menu-toggle,
.side-menu-backdrop,
.mobile-top-bar {
    display: none;
}

@media (max-width: 640px) {
    .mobile-top-bar {
        display: flex;
        align-items: center;
        padding: var(--space-xs);
        border-bottom: var(--border-xs) solid var(--color-gold);
        font-size: var(--font-size-l);
        z-index: 1;
    }

    .side-menu .logo {
        font-size: var(--font-size-l);
        padding: var(--space-xs);
        justify-content: flex-start;
    }

    .side-menu {
        position: fixed;
        height: 100vh;
        width: 18em;
        z-index: 3;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .side-menu-backdrop {
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        cursor: pointer;
    }

    #side-menu-toggle:checked ~ .side-menu {
        transform: translateX(0);
    }

    #side-menu-toggle:checked ~ .side-menu-backdrop {
        opacity: 1;
        pointer-events: auto;
    }
}
