.stat-card {
    --accent: var(--color-light-gold);

    background-color: rgba(var(--color-grey-rgb), 0.035);
    border: var(--border-xs) solid rgba(var(--color-grey-rgb), 0.15);
    border-top: var(--border-m) solid var(--accent);
    color: rgba(var(--color-grey-rgb), 0.6);
    text-align: center;
}

.stat-card:nth-child(even) {
    --accent: var(--color-almost-white);
}

.stat-card__value {
    font-family: "Big Shoulders", sans-serif;
    font-size: var(--font-size-xxl);
    margin: var(--space-xs);
    color: var(--accent);
}

.stat-card__label {
    font-size: var(--font-size-l);
}