.streak {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: var(--space-s);
    gap: clamp(var(--space-xxs), 1vw, var(--space-s));
}

.streak__item {
    display: flex;
    align-items: center;
}

.streak__item img {
    display: block;
    opacity: 0.1;
    width: clamp(var(--space-m), 2vw, var(--font-size-xl));
}

.streak__item--active img {
    opacity: 1;
}

@media (max-width: 640px) {
    .streak__item img {
        width: 2rem;
    }
}