#top-nav-bar {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    border-bottom: 0.2em solid var(--color-gold);
}

#top-nav-bar a,
#top-nav-bar .login-wrapper {
    flex: 1;
    font-weight: bold;
    font-size: 1.25em;
}

#top-nav-bar #login-btn {
    padding: 0.25em 2em;
}

#top-nav-bar #account-btn {
    padding: 0.25em 2em;
    font-size: 0.75em;
}
