@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Italiana&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #0B0B0B;
    --color-light-gold: #D4A853;
    --color-light-gold-rgb: 212, 168, 83;
    --color-grey: #ACA8A2;
    --color-grey-rgb: 172, 168, 162;
    --color-almost-white: #F2EDE4;
    --color-almost-white-rgb: 242, 237, 228;
    --color-gold: #A8843C;
    --color-gold-rgb: 168, 132, 60;
    --color-brown: #504020;
    --color-brown-rgb: 80, 64, 32;
    --color-dark-gold: #8A6F33;
    --color-dark-gold-rgb: 138, 111, 51;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button, a {
    cursor: pointer;
}