body {
    background-color: var(--color-black);
    color: var(--color-white);
}

#top-nav-bar {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5em; 
    border-bottom: 0.18em solid var(--color-gold);
}

#top-nav-bar a,
#top-nav-bar .login-wrapper {
    flex: 1;
    text-decoration: none;
    font-family: "Instrument Sans", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--color-grey);
}

#top-nav-bar #login-btn {
    font: inherit;
    padding: 0.25em 2em 0.25em 2em;
    background-color: var(--color-gold);
    outline: 0.05em solid var(--color-white);
    outline-offset: -0.25em;
}


#top-nav-bar .logo {                                                                                      
    display: flex;                                                                           
    align-items: center;  
    justify-content: center;                                                                   
    gap: 0.5em;                                                                            
}          
#top-nav-bar .logo-text{
    font-family: "Big Shoulders Inline", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    color: var(--color-gold); 
}

#top-nav-bar .logo-img {
    width: 3em;
}

.hero {
    text-align: center;
}

.hero-content {
    position: relative;
    width: fit-content;
    margin: 0 auto 0;
    background-color: rgba(var(--color-gold-rgb), 0.45);
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.2em;

    box-shadow: 
            -5px 0 0 0 rgba(var(--color-gold-rgb), 0.2),
            5px 0 0 0 rgba(var(--color-gold-rgb), 0.2),

            -10px 0 0 0 rgba(var(--color-gold-rgb), 0.2),
            10px 0 0 0 rgba(var(--color-gold-rgb), 0.2),

            -15px 0 0 0 rgba(var(--color-gold-rgb), 0.1),
            15px 0 0 0 rgba(var(--color-gold-rgb), 0.1);
}

.hero h1 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 4em;
    padding: 0;
    margin-bottom: 0;
    color: var(--color-almost-white);
}

.hero h2 {
    font-family: "Italiana", sans-serif;
    font-weight: 100;
    color: var(--color-grey);
    margin-top: 0;
}

.hero h2 span {
    border-top: 1px solid var(--color-gold);
}

.hero a {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-decoration: none;

    color: var(--color-black);
    background-color: var(--color-gold);
    padding: 0.4em 1.2em;
    outline: 0.1em solid var(--color-white);
    outline-offset: -0.2em;
    font-family: "Instrument Sans", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

/* Middle Photos Part */

.photos-container {
    display: grid;
    min-height: 35em;
    flex: 1;
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
    overflow: hidden;
}

.photos-container .image {
    grid-area: 1 / 1;
    box-sizing: border-box;
    border-top: 0.25em solid var(--color-gold);
    border-bottom: 0.25em solid var(--color-gold);
}


.photos-container .left {
    clip-path: polygon(0 0, 46% 0, 36% 100%, 0 100%);
    z-index: 1;
}
.photos-container .right {
    clip-path: polygon(64% 0, 100% 0, 100% 100%, 54% 100%);
    z-index: 1;
}


.photos-container .left img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.photos-container .right img {
    width: 55%;
    margin-left: 45%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.splitter {
    display: grid;
    grid-area: 1 / 1;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}

.splitter > * {
    grid-area: 1 / 1;
    box-sizing: border-box;
    background-color: var(--color-gold);
}

.splitter .border-left {
    clip-path: polygon(
        calc(46% - 0.25em) 0,
        46% 0,
        36% 100%,
        calc(36% - 0.25em) 100%
    );
}

.splitter .border-right {
    clip-path: polygon(
        64% 0,
        calc(64% + 0.25em) 0,
        calc(54% + 0.25em) 100%,
        54% 100%
    );
}

.slant {
    clip-path: polygon(51.9% 0, 58.1% 0, 48.1% 100%, 41.9% 100%);
    display: grid;
    background-color: transparent;
}

.slant > div {
    grid-area: 1 / 1;
}

.slant > div:nth-child(1) {
    background-color: var(--color-gold);
}

.slant > div:nth-child(n+2) {
    background-color: var(--color-almost-white);
}

.slant > div:nth-child(2) { clip-path: polygon(51.9% 0, 52.1% 0, 42.1% 100%, 41.9% 100%); }
.slant > div:nth-child(3) { clip-path: polygon(53.4% 0, 53.6% 0, 43.6% 100%, 43.4% 100%); }
.slant > div:nth-child(4) { clip-path: polygon(54.9% 0, 55.1% 0, 45.1% 100%, 44.9% 100%); }
.slant > div:nth-child(5) { clip-path: polygon(56.4% 0, 56.6% 0, 46.6% 100%, 46.4% 100%); }
.slant > div:nth-child(6) { clip-path: polygon(57.9% 0, 58.1% 0, 48.1% 100%, 47.9% 100%); }


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 0.8em;
    border-top: 0.2em solid var(--color-gold);
    color: var(--color-gold);
    font-family: "Big Shoulders", sans-serif;
    font-size: 1.2em;
}



.symbol-container {
    position: relative;
    width: 1em;
    height: 1em;
}

.symbol {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    transform: translateY(-0.2em);
}

.symbol.layer-1 {
    color: var(--color-gold);
}

.symbol.layer-2 {
    color: var(--color-dark-gold);
    transform: translateY(0.14em);
}