body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "side-menu main" "footer footer";
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: var(--color-black);
    min-height: 4vh;
}
