#login-modal {
    --color-modal-bg: #201e19;
    --color-modal-input-bg: #595959;
    --color-modal-input-bg-rgb: 89, 89, 89;

}

#login-modal {
    background-color: var(--color-modal-bg);
    border-top: 0.5em solid var(--color-gold);
    position: relative;
    padding: 1em 4em 1em 4em;
    width: 30%;
}

#login-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-close-btn {
    background: none;                                                                                                            
    border: none;                                                                                                                
    color: var(--color-almost-white);                                                                                                    
    font-size: 1.2em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;                                                                                                          
}

#login-modal h1 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 2em;
    color: var(--color-almost-white);
    margin: 0.35em 0 0 0;
    text-align: center;
    font-size: 3em;
}

#login-modal h1::after {
    content: '';
    display: block;                                                                                                              
    width: 40%;     
    margin: 0 auto 0;                                                                                                 
    border-bottom: 0.05em solid var(--color-gold);   
    ;                                                                               
}

#login-modal h2 {
    font-family: "Italiana", serif;
    font-size: 1.5em;
    color: var(--color-grey);
    font-weight: lighter;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0;
}

#login-modal label {                                                                                                           
    display: block;                                                                                                              
    color: var(--color-grey);                                                                                                    
    margin-bottom: 0.2em;    
    padding-top: 1em;                                                                                                    
}   


#login-modal input {
    display: block;
    width: 100%;
    background-color: rgba(var(--color-modal-input-bg-rgb), 0.1);
    color: var(--color-white);
    padding: 1.5em 1em 1.5em 1em;
    box-sizing: border-box;
}

.password-wrapper {
    position: relative;
}

#login-modal .password-wrapper input {
    padding-right: 3em;
}

#toggle-password {
    position: absolute;
    right: 0.6em;
    top: 25%;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-grey);
    font-size: 1.1em;
    padding: 0;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 0.5em;
    color: rgba(var(--color-gold-rgb), 0.9);
    font-size: 0.9em;
    text-decoration: underline;
}

.sign-in-btn {
    display: block;
    width: 100%;
    background-color: var(--color-light-gold);
    color: var(--color-black);
    padding: 0.4em;
    border: none;
    cursor: pointer;
    outline: 0.1em solid var(--color-white);
    outline-offset: -0.25em;
    font-size: 2em;
    font-family: "Big Shoulders", sans-serif;
    margin: 1em 0 1em 0;
}

#login-modal p {
    text-align: center;
    color: var(--color-grey);
}

#login-modal p a {
    color: rgba(var(--color-gold-rgb), 0.9);
    text-decoration: underline;
}
